.navBread{
    width: 100%;
    min-height: 37px;
    background: #F9F9F9;
    margin-top: 28px;
    margin-bottom: 34px;
    display: flex;
}

.navBread__title{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    p{
        opacity: 0.6;
        color: #636363;
        padding-left: 11px;
        padding-right: 11px;
        font-size: 13px;
        @media screen and (max-width: 575px) {
            font-size: 11px;
            padding-left: 4px;
            padding-right: 4px;
        }
    }
    a{
        font-size: 13px;
        opacity: 0.6;
        color: #636363;
        @media screen and (max-width: 575px) {
            font-size: 11px;
        }
    }
}

.tab_all {
    display: flex;
}

.tab_all .tabs__content .hide {
    display: none;
}

.tab_all .tabs__content .show {
    display: flex;
    transform: 1s;
}
.tab_all .tabContent {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 1;
}
.tabs__title{
    display: flex;
    cursor: pointer;
}
#tabs .tabs__title,
#tabs2 .tabs__title,
#tabs3 .tabs__title,
#tabs4 .tabs__title,
#tabs5 .tabs__title{
    flex-direction: column;
    .tab__item{
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        position: relative;
        margin-bottom: 10px;
        @media (max-width: 1366px) {
            width: 60px;
            height: 60px;
        }
        @media (max-width: 1200px) {
            width: 50px;
            height: 50px;
        }
        @media screen and (max-width: 575px) {
            width: 40px;
            height: 40px;
        }
    }
    .tab__item:hover{
        border: 1px solid rgba(201, 201, 201, 0.35);
        box-sizing: border-box;
        border-radius: 4px;
    }
    img{
        position: relative;
        z-index: 99;
        width: 80%;
        @media screen and (max-width: 575px) {
            width: 100%;
        }
    }
}

#tabs .whiteborder,
#tabs2 .whiteborder,
#tabs3 .whiteborder,
#tabs4 .whiteborder,
#tabs5 .whiteborder  {
    border: 1px solid #88BE37;
    box-sizing: border-box;
    border-radius: 4px;
}

#tabs .tabContent,
#tabs2 .tabContent,
#tabs3 .tabContent,
#tabs4 .tabContent,
#tabs5 .tabContent {
    margin-left: 40px;
    @media screen and (max-width: 575px) {
        margin-left: 20px;
    }
}

#tabs2,
#tabs3,
#tabs4,
#tabs5{
    display: none;
}
.card__imageBig{
    width: 510px;
    height: 515px;
    @media (max-width: 1366px) {
        width: 430px;
        height: 435px;
    }
    @media (max-width: 1200px) {
        width: 320px;
        height: 325px;
    }
    @media (max-width: 991px) {
        width: 240px;
        height: 245px;
    }
    @media screen and (max-width: 575px) {
        width: 200px;
        height: 205px;
    }
    img{
        height: 100%;
    }
}

.card__character{
    h1{
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: #3E3E3E;
        width: 60%;
        @media (max-width: 1366px) {
            font-size: 23px;
        }
        @media (max-width: 1200px) {
            font-size: 20px;
            width: 70%;
            line-height: 28px;
        }
        @media (max-width: 991px) {
            font-size: 18px;
            width: 80%;
            line-height: 28px;
        }
        @media (max-width: 767px) {
           margin-top: 20px;
           width: 60%;
        }
        @media screen and (max-width: 575px) {
            width: 100%;
         }
    }
    .card__code{
        width: 100%;
        margin-top: 17px;
        margin-bottom: 7px;
        @media (max-width: 1200px) {
            margin-top: 12px;
        }  
        p{
            font-size: 15px;
            text-align: right;
            color: #9B9B9B;
            @media (max-width: 1200px) {
                font-size: 13px;
            }    
        }
        a{
            font-size: 15px;
            color: #538607;
            display: flex;
            @media (max-width: 1200px) {
                font-size: 13px;
            }
            img{
                margin-left: 9px;
            }
        }
    }
}

.card__price{
    margin-top: 25px;
    margin-bottom: 22px;
    @media (max-width: 1366px) {
        margin-top: 20px;
        margin-bottom: 17px;
    }
    @media (max-width: 1200px) {
        margin-top: 15px;
        margin-bottom: 12px;
    } 
    .price__new{
        font-size: 28px;
        @media (max-width: 1366px) {
            font-size: 24px;
        }
        @media (max-width: 1200px) {
            font-size: 20px;
        }  
    }
    .price__old{
        font-size: 18px;
        @media (max-width: 1366px) {
            font-size: 16px;
        }
        @media (max-width: 1200px) {
            font-size: 14px;
        } 
    }
}

.card__change{
    margin-top: 26px;
    @media (max-width: 1366px) {
        margin-top: 16px;
    }
    p{
        font-size: 18px;
        color: #333640;
        margin-bottom: 15px;
        @media (max-width: 1366px) {
            font-size: 16px;
        }
        @media (max-width: 1366px) {
            font-size: 15px;
        }
    }
    button{
        border: 1px solid #7CAE30;
        box-sizing: border-box;
        border-radius: 4px;
        background: inherit;
        padding: 12px 30px 12px 30px;
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #333640;
        display: flex;
        align-items: center;
        margin-bottom: 38px;
        @media (max-width: 1366px) {
            font-size: 18px;
            padding: 10px 25px 10px 25px;
        }
        @media (max-width: 1200px) {
            font-size: 16px;
            padding: 7px 20px 7px 20px;
        }
        @media (max-width: 991px) {
            font-size: 14px;
            padding: 7px 15px 7px 15px;
        }
        img{
            margin-right: 30px;
            @media (max-width: 1366px) {
               width: 18px; 
               margin-right: 20px; 
            }
            @media (max-width: 1200px) {
                width: 15px; 
                margin-right: 15px; 
            }
        }
    }
}

.card__changeOption{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    @media (max-width: 991px) {
        margin-bottom: 20px;
    }  
}

.card__option{
    width: 76px;
    height: 76px;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 8px;
    cursor: pointer;
    @media (max-width: 1366px) {
        width: 65px;
        height: 65px;
    }
    @media (max-width: 1200px) {
        width: 55px;
        height: 55px;
    }
    @media (max-width: 991px) {
        width: 50px;
        height: 50px;
    }
    @media screen and (max-width: 575px) {
        width: 45px;
        height: 45px;
    }
    img{
        width: 100%;
    }
}

.card__option:last-child{
    margin-right: 0;
}

.card__optionActive{
    border: 1px solid #7CAE30;
}

.card_form{
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    width: 100%;
    padding: 34px 30px 34px 30px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    @media (max-width: 1200px) {
        padding: 22px 26px 22px 26px;
    }
    @media screen and (max-width: 575px) {
        padding: 10px 15px 10px 15px;
    }
}

.card_form:last-child{
    margin-bottom: 40px;
    @media screen and (max-width: 575px) {
        margin-bottom: 20px;
    }
}

.card_formTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    @media (max-width: 1200px) {
        margin-bottom: 15px;
    }
    @media screen and (max-width: 575px) {
        margin-bottom: 10px;
    }
    h4{
        font-weight: bold;
        font-size: 20px;
        color: #333640;
        @media (max-width: 1366px) {
            font-size: 18px;
        }
        @media (max-width: 1200px) {
            font-size: 16px;
        }
        @media screen and (max-width: 575px) {
            font-size: 14px;
        }
    }
    img{
        cursor: pointer;
    }
}

.card_formAnswer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: 575px) {
       flex-direction: column;
    }
}

.search__selected {
    position: relative;
    height: 100%;
    width: 49%;
    border: 1px solid #7CAE30;
    box-sizing: border-box;
    border-radius: 4px;
    height: 44px;
    @media (max-width: 1200px) {
        height: 38px;
    }
    @media (max-width: 1200px) {
        width: 100%;
        margin-bottom: 10px;
    }
}

.search__selected[data-state="active"] .select__title::before {
    transform: translate(-3px, -50%) rotate(-45deg);
    background-color: #4E4E4E;
}

.search__selected[data-state="active"] .select__title::after {
    transform: translate(3px, -50%) rotate(45deg);
    background-color: #4E4E4E;
}

.search__selected[data-state="active"] .select__content {
    opacity: 1;
    z-index: 999;
    position: relative;
}

.search__selected[data-state="active"] .select__label + .select__input + .select__label {
    max-height: 40px;
    border-top-width: 1px;
}

.select__title {
    display: flex;
    align-items: center;
    width: calc(100% - 14px);
    height: 100%;
    padding-left: 14px;
    cursor: pointer;
    background: #F2F7EA;
    border-radius: 4px;
    font-size: 18px;
    color: #333640;
    @media (max-width: 1366px){
      font-size: 16px;
      width: calc(100% - 13px);
      padding-left: 13px;
    }
    @media (max-width: 1200px){
      font-size: 14px;
    }
}

.select__title::before, .select__title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    display: block;
    width: 10px;
    height: 2px;
    transition: all 0.3s ease-out;
    background-color: #333333;
    transform: translate(-3px, -50%) rotate(45deg);
    @media (max-width: 1366px){
      right: 10px;
    }
    @media (max-width: 991px){
      top: auto;
    }
}

.select__title::after {
    transform: translate(3px, -50%) rotate(-45deg);
}

.select__title:hover::before, .select__title:hover::after {
    background-color: #4E4E4E;
}

.select__content {
    transition: all 0.3s ease-out;
    opacity: 0;
    z-index: 999;
    margin-top: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1.604px 22.944px 29px 0px rgba(105, 105, 105, 0.29);
    width: 100%;
    border-radius: 0px 0px 4px 4px;
}

.select__input {
    display: none;
}

.select__input:checked + label {
    background-color: #F2F7EA;
}

.select__label {
    display: flex;
    align-items: center;
    height: 40px;
    max-height: 0;
    padding-left: 15px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    overflow: hidden;
    font-size: 14px;
    @media (max-width: 1366px){
      font-size: 12px;
      padding-left: 13px;
    }
}

.select__label:hover {
    background-color: #F2F7EA !important;
}

.card__formParam{
    display: flex;
    align-items: center;
    height: 46px;
    background: #F2F7EA;
    border: 1px solid #7CAE30;
    box-sizing: border-box;
    border-radius: 4px;
    @media (max-width: 1366px){
        height: 38px;
    }
    p{
        font-weight: bold;
        margin-bottom: 0;
        font-size: 14px;
        color: #333640;
        @media (max-width: 1366px){
            font-size: 12px;
        }
    }
}

.form__param{
    border: none;
    background: inherit;
    font-size: 18px;
    color: #333640;
    padding-left: 15px;
    width: 155px;
    @media (max-width: 1366px) {
        font-size: 16px;
    }
    @media (max-width: 1200px){
        width: 110px;
        font-size: 14px;
    }
}

.card__formPar{
    display: flex;
    margin-top: 20px;
    align-items: center;
    @media screen and (max-width: 575px){
        flex-direction: column;
        align-items: flex-start;
    }
    .card__formParamComent{
        font-size: 16px;
        line-height: 24px;
        color: #9B9B9B;
        margin-bottom: 0;
        margin-left: 19px;
        @media (max-width: 1200px){
            font-size: 12px;
            margin-left: 10px;
        }
    }
    @media (max-width: 1200px){
        font-size: 14px;
    }
}

.card__formFile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #EBEBEB;
    border-top: 0;
    box-sizing: border-box;
    padding: 20px 34px 20px 34px;
    margin-bottom: 16px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    @media (max-width: 1200px){
        padding: 15px 27px 15px 27px;
    }
    @media screen and (max-width: 575px){
        flex-direction: column;
        align-items: flex-start;
    }
    a{
        font-size: 16px;
        text-decoration-line: underline;
        color: #8F8F8F;
        @media (max-width: 1200px){
            font-size: 14px;
        }
        @media screen and (max-width: 575px){
            margin-top: 20px;
        }
    }
}

input[type="file"]{
    display: none;
}

.file {
    display: flex;
    &__label {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;
      span{
        font-size: 18px;
        color: #538607;
        @media (max-width: 1366px) {
            font-size: 16px;
        }
        @media (max-width: 1200px){
            font-size: 14px;
        }
      }
    }
    &__text {
      display: flex;
    }
    &__img {
        height: 42px;
        margin-right: 16px;
        @media (max-width: 1200px){
            height: 37px;
        }
    }
}

.card__quantity{
    display: flex;
    margin-top: 37px; 
    margin-bottom: 45px;
    @media (max-width: 1366px) {
        margin-top: 30px; 
        margin-bottom: 35px;
    }
    @media (max-width: 1200px) {
        margin-top: 30px; 
        margin-bottom: 35px;
    }
    .quantity{
        max-width: 180px;
        margin-right: 83px;
        @media (max-width: 991px) {
            margin-right: 40px;
            max-width: 170px;
        }
        @media screen and (max-width: 575px) {
            margin-right: 20px;
            max-width: 160px;
        }
    }
    p{
        font-size: 18px;
        color: #333640;
        margin-bottom: 15px;
        @media (max-width: 1366px) {
            font-size: 16px;
        }
        @media (max-width: 1200px) {
            font-size: 14px;
        }
        @media screen and (max-width: 575px) {
            font-size: 12px;
        }
    }
    input{
        border: none;
        border-bottom: 1.5px solid #EBEBEB;
        font-size: 24px;
        line-height: 35px;
        color: #9B9B9B;
        position: relative;
        width: calc(100% - 20px);
        padding-right: 20px;
        @media (max-width: 1366px) {
            font-size: 20px;
        }
        @media (max-width: 1200px) {
            font-size: 18px;
        }
        @media (max-width: 991px) {
            font-size: 16px;
            line-height: 28px;
        }
        @media screen and (max-width: 575px) {
            font-size: 14px;
        }
    }
    img{
        position: absolute;
        margin-left: -20px;
    }
    .freeCount{
        font-size: 24px;
        @media (max-width: 1366px) {
            font-size: 20px;
        }
        @media (max-width: 991px) {
            font-size: 18px;
        }
    }
}

.card__result{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    .card__resultPrice{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    p{
        font-weight: bold;
        font-size: 14px;
        text-align: right;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #333640;
        @media (max-width: 1366px) {
            font-size: 13px;
        }
        @media screen and (max-width: 575px) {
            font-size: 12px;
        }
    }
    .resultPrice{
        font-size: 28px;
        display: flex;
        align-items: flex-end;
        letter-spacing: 0.01em;
        color: #3B3B3B;
        margin-top: 5px;
        @media (max-width: 1366px) {
            font-size: 25px;
        }
        @media screen and (max-width: 575px) {
            font-size: 18px;
        }
    }
    .card__resultTerm{
        font-size: 16px;
        color: #333640;
        display: flex;
        align-items: flex-start;
        @media (max-width: 1366px) {
            font-size: 15px;
        }
        @media screen and (max-width: 575px) {
            font-size: 13px;
        }
        span{
            color: #F3132E;
        }
        img{
            width: 23px;
            margin-left: 12px;
            @media screen and (max-width: 575px) {
                width: 20px;
                margin-left: 7px;
            }
        }
    }
}

.card__add{
    background: #7CAE30;
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 55px;
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 13px 56px 13px 56px;
    @media (max-width: 1366px) {
        font-size: 16px;
        padding: 13px 45px 13px 45px;
    }
    @media (max-width: 1200px) {
        font-size: 14px;
        padding: 13px 35px 13px 35px;
    }
}
.card__description{
    font-size: 16px;
    line-height: 24px;
    color: #4E4E4E;
    margin-top: 51px;
    margin-bottom: 50px;
    width: 70%;
    @media (max-width: 1366px) {
        font-size: 15px;
    }
    @media (max-width: 1200px) {
        font-size: 14px;
        width: 80%;
    }
    @media (max-width: 991px) {
        width: 100%;
    }
    @media (max-width: 767px) {
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 12px;
    }
}

#tab_prodCharact{
    flex-direction: column;
}

#tab_prodCharact .tabs__title{   
    margin-top: 19px;
    .tab__item{
        font-family: 'Circe';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: rgba(51, 54, 64, 0.6);
        margin-right: 53px;
        @media (max-width: 991px) {
            font-size: 12px;
        }
        @media screen and (max-width: 991px) {
            margin-right: 50px;
        }
    }
    .tab__item:last-child{
        margin-right: 0px;
    }
    .whiteborder {
        color: #333640;
        border-bottom: 2px solid #7CAE30;
        padding-bottom: 17px;
    }
}

#tab_prodCharact .tabContent {
    margin-top: 54px;  
    flex-direction: column;
    @media (max-width: 767px) {
        margin-top: 30px;  
    }
}

.prodCharact__text{
    display: flex;
    flex-direction: column;
    margin-bottom: 54px;
    @media (max-width: 767px) {
        margin-bottom: 30px;  
    }
    h4{
        font-weight: bold;
        font-size: 19px;
        color: #333640;
        margin-bottom: 31px;
        @media (max-width: 1366px) {
            font-size: 16px;
        }
        @media (max-width: 767px) {
            font-size: 14px;
        }
    }
    .prodCharact__line{
        display: flex;
        margin-bottom: 25px;
        @media (max-width: 1366px) {
            margin-bottom: 23px;
        }
        @media (max-width: 767px) {
            margin-bottom: 15px;
        }
    }
    
    .prodCharact__line:last-child{
        margin-bottom: 0px;
    }

    .prodCharact__name{
        width: 425px;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        overflow: hidden;
        padding-right: 20px;
        @media (max-width: 991px) {
            width: 290px;
        }
        @media (max-width: 767px) {
            width: 220px;
        }
        @media screen and (max-width: 575px) {
            width: 110px;
            padding-right: 10px;
        }
        p{
            display: flex;
            flex-shrink: 0;
            font-size: 16px;
            color: #4E4E4E;
            @media (max-width: 1366px) {
                font-size: 14px;
            }
            @media (max-width: 767px) {
                font-size: 12px;
            }
        }
        .line_dotted{
            margin-left: 10px;
            margin-top: 12px;
            height: 3px;
            width: 100%;
            background: url('../img/line.svg') no-repeat center;
        }
    }
    .prodCharact__value{
        max-width: 400px;
        font-size: 16px;
        line-height: 24px;
        color: #4E4E4E;
        @media (max-width: 1366px) {
            font-size: 14px;
        }
    }
}

.card__words{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 18px;
    @media screen and (max-width: 575px) {
        margin-top: 0px;
    }
    p{
        font-size: 15px;
        color: #538607;
        display: flex;
        background: #F2F7EA;
        border-radius: 4px;
        padding: 5px 15px 5px 15px;
        margin-right: 8px;
        cursor: pointer;
        @media (max-width: 1366px) {
            font-size: 14px;
        }
        @media (max-width: 767px) {
            margin-bottom: 10px;
        }
    }
}

.slider_similar{
    margin-bottom: 80px;
}

.card__container{
    margin-top: 75px;
    margin-bottom: 60px;
}

.card__calcResult{
    margin-top: 40px;
    margin-bottom: 25px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    @media (max-width: 1366px) {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    p{
        font-size: 18px;
        color: #3B3B3B;
        @media (max-width: 1366px) {
            font-size: 16px;
        }
        @media (max-width: 1200px) {
            font-size: 14px;
        }
    }
    .carcPrice{
        color: #333640;
        font-weight: bold;
        span{
            opacity: .53;
        }
    }
}

.card__calcTabl{
    margin-top: 27px;
}

.card__calcTablRow{
    margin-top: 13px;
}

.cardShow{
    position: relative;
    visibility: visible;
    opacity: 1;
        -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
}