.filter__tovarNone{
    width: 100%;
}
.category__setting-wrapper{
    position: sticky;
    top: 100px;
    width: 50px;
    transform: translate(calc(100vw - 90px), 50px);
    height: 0;
    z-index: 999;
    @media (max-width: 1200px) {
        transform: translate(calc(100vw - 80px), 50px);
    }
    @media screen and (max-width: 575px) {
        top: 20px;
        transform: translate(calc(100vw - 70px), 80px);
    }
}
.category__setting{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 220px;
    width: 50px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    padding: 25px 15px 25px 15px;
    z-index: 999;
    @media (max-width: 1200px) {
        padding: 20px 10px 20px 10px;
    }
    a{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15px;
        color: #9B9B9B;
        margin-top: 10px;
        @media (max-width: 1200px) {
            font-size: 13px;
        }
        img{
            margin-bottom: 10px;
        }
    }
    a:nth-child(2){
        margin-top: 35px;
    } 
    a:nth-child(3){
        img{
            width: 20px;
            margin-top: 30px;
        }
      
    } 
}

.category__wrapper{
   position: relative;
   z-index: 1;
   overflow: hidden;
}

.categoryTitleImg{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    @media (max-width: 767px) {
       height: 40%;
       right: -150px;
    }
}

.category__title{
    background: #8692FE;
    margin-bottom: 30px;
    h2{
        font-weight: bold;
        font-size: 17px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 34px;
        margin-bottom: 30px;
    }
    .category__words{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 29px;
        z-index: 4;
        min-height: 44px;
        a{
            border: 1.5px solid rgba(255, 255, 255, 0.3);
            box-sizing: border-box;
            border-radius: 4px;
            font-size: 15px;
            text-align: center;
            color: #FFFFFF;
            padding: 5px 15px 5px 15px;
            margin-right: 8px;
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-bottom: 10px;
        }
        .search__selectedCategory{
            width: 82px;
            border: none;
            margin-bottom: 10px;
        }
        .search__selectedCategory > .select__title {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            padding-left: 14px;
            cursor: pointer;
            background: inherit;
            border: 1.5px solid rgba(255, 255, 255, 0.3);
            box-sizing: border-box;
            border-radius: 4px;
            font-size: 15px;
            text-align: center;
            color: #FFFFFF;
            padding: 5px 15px 5px 15px;
            position: relative;
        }
        .search__selectedCategory > .select__title::before, 
        .search__selectedCategory > .select__title::after {
            right: 15px;
            color: #fff;
        }
        .search__selectedCategory > .select__title:hover::before,
        .search__selectedCategory >  .select__title:hover::after {
            background-color: #fff;
        }
        .search__selectedCategory > .select__title::before, 
        .search__selectedCategory > .select__title::after {
            background-color: #fff;
        }
    }
}
.category__filter{
    width: 100%;
    @media (max-width: 1200px) {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        background: #fff;
        z-index: 999;
        margin-left: -50%;
        transition: 1s;
    }
    .filter__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        height: 29px;
        img{
            display: none;
            @media (max-width: 1200px) {
                display: flex;
            }
        }
    }
    h3{
        font-size: 16px;
        color: #333640;
    }
    .checkbox {
        margin-bottom: 0.2em;
    }
    .custom-checkbox>input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    .custom-checkbox>span {
        display: flex;
        align-items: center;
        user-select: none;
        padding: 5px 13px 5px 13px;
        border-radius: 4px;
    }
    .color-red{
        background: rgba(255, 22, 50, 0.08);
    }
    .custom-checkbox>span::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #adb5bd;
        border-radius: 0.25em;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }
    .custom-checkbox>input:checked+span::before {
        border-color: #0b76ef;
        background-color: #0b76ef;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
    .custom-checkbox>input:disabled+span::before {
        background-color: #e9ecef;
    }
}
.category__content{
   // overflow: hidden;
}
.category__content .filterSortOpen{
    visibility: visible;
    transition: 1s;
    opacity: 1;
    margin-left: 0;
}
.checkbox {
	position:relative;
    padding-left: 25px;
    margin-top: 10px;
    cursor: pointer;
    label{
        border-radius: 4px;
        padding: 2px 15px 2px 15px;
        margin-left: 20px;
        cursor: pointer;
    }
    .color__red{
        background: rgba(255, 22, 50, 0.08);
        color: #F3132E;
    }
    .color__blue{
        background: rgba(18, 173, 240, 0.1);
        color: #0F95CF;
    }
    .color__violet{
        background: rgba(92, 66, 255, 0.12);
        color: #5C42FF;
    }
}

.checkbox input[type=checkbox] {
	display: none;
}
.checkbox label:after {
	content:'';
	display:block;
	height: 24px;
	width: 24px;
	position:absolute;
	top: 0;
    left: 0;
    border: 1px solid #C9C9C9;
    box-sizing: border-box;
    border-radius: 4px;
}
.checkbox input[type=checkbox]:checked + label:after {
    background: url('../img/close.svg') no-repeat center;
    background-size: cover;
    padding: 4px;
}
.filter__specific{
    margin-top: 40px;
    .search__selected{
        width: 100%;
        border: none;
        margin-top: 20px;
        .select__title{
            font-size: 16px;
            color: #333640;
        }
    }
}
.search__selectedFilter > .select__title {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 0px;
    cursor: pointer;
    background: inherit;
    border: 1.5px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    
}
.search__selectedFilter  .select__label{
    max-height: 40px;
}
.search__selectedFilter > .select__title::before, 
.search__selectedFilter > .select__title::after {
    right: 15px;
    color: #C9C9C9;
}
.search__selectedFilter > .select__title:hover::before,
.search__selectedFilter >  .select__title:hover::after {
    background-color: #C9C9C9;
}
.search__selectedFilter > .select__title::before, 
.search__selectedFilter > .select__title::after {
    background-color: #C9C9C9;
}
.openFilter{
    margin-right: 10px;
    display: none;
    @media (max-width: 1200px) {
        display: flex;
    }
}
.filter__sort-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    @media screen and (max-width: 575px) {
        flex-direction: column;
    }
    h3{
        font-size: 16px;
        @media (max-width: 767px) {
            font-size: 14px;
        }
    }
}

.filter__sort .select__label {
    max-height: 40px;
}

.filter__sort{
    display: flex;
    align-items: flex-start;
    position: relative;
    align-items: center;
    height: 24px;
    width: 50%;
    @media (max-width: 767px) {
        width: 60%;
    }
    @media screen and (max-width: 575px) {
        width: 100%;
    }
}
.filter__sortCount{
    justify-content: flex-end;
    @media (max-width: 767px) {
        width: 40%;
    }
}
.select__SortTitle{
    display: flex;
}
.filter__sort .search__selectedSort{
    border: none;
    width: 200px;
    height: 24px;
    margin-left: 10px;
    height: 100%;
    margin-bottom: 0;
}
.filter__sortCount .search__selectedSort{
    width: 40px;
}
.select__SortTitle > .select__title {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 0px;
    cursor: pointer;
    background: inherit;
    border: 1.5px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 15px;
    text-align: center;
    color: #538607;
    font-weight: bold;
    font-size: 16px;
    @media (max-width: 767px) {
        font-size: 14px;
    }
    img{
        margin-left: 10px;
    }
}
.select__SortTitle  .select__label{
    max-height: 40px;
}
.select__SortTitle > .select__title::before, 
.select__SortTitle > .select__title::after {
    display: none;
}
.category__list{
    .sliderProduct{
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
    }
}
.category__pagination{
    margin-top: 40px;
    ul{
        display: flex;
    }
    li{
        background: #F8F8F8;
        border-radius: 4px;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        color: #4E4E4E;
        width: 41px;
        height: 41px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        cursor: pointer;
    }
    li.paginationActive{
        border: 1px solid #7CAE30;
        box-sizing: border-box;
        background: inherit;
        color: #538607;
    }
    li.paginationNext{
        width: auto;
        padding-left: 25px;
        padding-right: 25px;
        img{
            width: 16px;
            margin-left: 15px;
        }
    }
}
.pagination__description{
    margin-top: 70px;
    font-size: 15px;
    line-height: 22px;
    color: #C9C9C9;
    width: 65%;
    @media (max-width: 1738px) {
        width: 80%;
    }
    @media (max-width: 1200px) {
        width: 90%;
        font-size: 13px;
    }
}
.category__describtion{
    margin-top: 51px;
    margin-bottom: 60px;
}
.category__content .openLink{
    margin-top: 30px;
    margin-bottom: 40px;
}