@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Regular.eot');
	src: local('Circe'), local('Circe-Regular'),
		url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe-Regular.woff') format('woff'),
		url('../fonts/Circe-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Light.eot');
	src: local('Circe Light'), local('Circe-Light'),
		url('../fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe-Light.woff') format('woff'),
		url('../fonts/Circe-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Bold.eot');
	src: local('Circe Bold'), local('Circe-Bold'),
		url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe-Bold.woff') format('woff'),
		url('../fonts/Circe-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-ExtraBold.eot');
	src: local('Circe ExtraBold'), local('Circe-ExtraBold'),
		url('../fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe-ExtraBold.woff') format('woff'),
		url('../fonts/Circe-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Text';
    src: url('GTEestiProText-Medium.eot');
    src: local('GT Eesti Pro Text Medium'), local('GTEestiProText-Medium'),
        url('../fonts/GTEestiProText-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTEestiProText-Medium.woff2') format('woff2'),
        url('../fonts/GTEestiProText-Medium.woff') format('woff'),
        url('../fonts/GTEestiProText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Text Book';
    src: url('../fonts/GTEestiProText-Book.eot');
    src: local('GT Eesti Pro Text Book'), local('GTEestiProText-Book'),
        url('../fonts/GTEestiProText-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTEestiProText-Book.woff2') format('woff2'),
        url('../fonts/GTEestiProText-Book.woff') format('woff'),
        url('../fonts/GTEestiProText-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('../fonts/GTEestiProDisplay-Regular.eot');
    src: local('GT Eesti Pro Display Regular'), local('GTEestiProDisplay-Regular'),
        url('../fonts/GTEestiProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTEestiProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/GTEestiProDisplay-Regular.woff') format('woff'),
        url('../fonts/GTEestiProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('../fonts/GTEestiProDisplay-Medium.eot');
    src: local('GT Eesti Pro Display Medium'), local('GTEestiProDisplay-Medium'),
        url('../fonts/GTEestiProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTEestiProDisplay-Medium.woff2') format('woff2'),
        url('../fonts/GTEestiProDisplay-Medium.woff') format('woff'),
        url('../fonts/GTEestiProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}