footer{
    background: #15161A;
    padding-top: 60px;
    padding-bottom: 74px;
    @media (max-width: 1366px) {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    @media (max-width: 1200px) {
        padding-top: 40px;
        padding-bottom: 50px;
    }
    @media (max-width: 991px) {
        padding-top: 30px;
        padding-bottom: 40px;
    }
}
.footer__phone{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    p{
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #FFFFFF;
        padding-bottom: 11px;
        @media (max-width: 1366px) {
            font-size: 14px;
        }
        @media (max-width: 991px) {
            font-size: 12px;
        }
    }
    a{
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        @media (max-width: 1366px) {
            font-size: 28px;
        }
        @media (max-width: 1200px) {
            font-size: 25px;
        }
        @media (max-width: 991px) {
            font-size: 22px;
        }
        @media (max-width: 767px) {
            font-size: 20px;
        }
        img{
            margin-right: 15px;
            @media (max-width: 1366px) {
                margin-right: 10px;
            }
        }
    }
}
.footer__line{
    margin-top: 58px;
    margin-bottom: 71px;
    background: #2C2C2C;
    height: 1px;
    width: 100%;
    @media (max-width: 1366px) {
        margin-top: 45px;
        margin-bottom: 55px;
    }
    @media (max-width: 1200px) {
        margin-top: 35px;
        margin-bottom: 45px;
    }
    @media (max-width: 991px) {
        margin-top: 25px;
        margin-bottom: 35px;
    }
    @media screen and (max-width: 575px) {
        margin-top: 15px;
        margin-bottom: 20px;
    }
}
.footer__contact{
    p{
        font-family: 'Circe';
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        letter-spacing: 0.01em;
        color: #FFFFFF; 
        margin-bottom: 22px;
        @media (max-width: 1366px) {
            font-size: 27px;
            margin-bottom: 12px;
        }
        @media (max-width: 1200px) {
            font-size: 22px;
            margin-bottom: 8px;
        }
        @media (max-width: 767px) {
            font-size: 16px;
        }
    }
    a{
        font-family: 'Circe';
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        color: #FFFFFF;
        @media (max-width: 1366px) {
            font-size: 23px;
        }
        @media (max-width: 1200px) {
            font-size: 20px;
        }
        @media (max-width: 991px) {
            font-size: 18px;
        }
        @media (max-width: 767px) {
            font-size: 14px;
        }
    }
    .footer__sochial{
        margin-top: 45px;
        display: flex;
        @media (max-width: 1366px) {
            margin-top: 35px;
        }
        @media screen and (max-width: 575px) {
            margin-top: 25px;
            margin-bottom: 25px;
        }
        a{
            margin-right: 40px;
            @media (max-width: 1366px) {
                margin-right: 30px;
            }
        }
    }
    .footer__sochial a:last-child{
        margin-right: 0px;
    }
}
.menu__details, .menu__help{
    .menu__detailsTitle{
        font-family: 'Circe';
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        letter-spacing: 0.235em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 34px;
        @media (max-width: 1366px) {
            font-size: 14px;
            margin-bottom: 28px;
        }
        @media (max-width: 1200px) {
            font-size: 12px;
            margin-bottom: 25px;
        }
        @media (max-width: 991px) {
            font-size: 11px;
            margin-bottom: 15px;
        }
    }
    li>a{
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        letter-spacing: 0.01em;
        color: #969696;
        @media (max-width: 1366px) {
            font-size: 14px;
        }
        @media (max-width: 1200px) {
            font-size: 12px;
        }
    }
    li{
        margin-bottom: 19px;
        @media (max-width: 1366px) {
            margin-bottom: 14px;
        }
        @media (max-width: 1200px) {
            margin-bottom: 10px;
        }
    }
    li:last-child{
        margin-bottom: 0px;
    }
}

.menu__help{
    margin-left: 157px;
    @media (max-width: 1738px) {
        margin-left: 100px;
    }
    @media (max-width: 1366px) {
        margin-left: 60px;
    }
    @media (max-width: 1200px) {
        margin-left: 30px;
    }
}
.footer__download{
    display: flex;
    @media (max-width: 991px) {
        margin-top: 20px;
    }
    p{
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: right; 
        color: #FFFFFF;
        //width: 55%;
        @media (max-width: 1366px) {
            font-size: 14px;
           // width: 52%;
        }
        @media (max-width: 1200px) {
            font-size: 12px;
            //width: 61%;
        }
        @media (max-width: 991px) {
            font-size: 11px;
           // width: 43%;
        }
    }
    img{
        cursor: pointer;
        margin-right: 17px;
        @media (max-width: 1366px) {
            margin-right: 10px;
        }
        @media (max-width: 1200px) {
            width: 30px;
        }
    }
}
.footer__politics{
    margin-top: 85px;
    p{
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #7E7E7E;
        margin-bottom: 9;
        @media screen and (max-width: 575px) {
            font-size: 10px;
        }
    }
    .footer__politics-link, a{
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #7E7E7E;
        @media screen and (max-width: 575px) {
            font-size: 10px;
            width: 70%;
        }
    }
    a{
        text-decoration-line: underline;
    }
}
.footer__up{
    margin-top: 85px;
    a{
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #7E7E7E;
        @media screen and (max-width: 575px) {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
          }
    }
    img{
        transform: rotate(-90deg);
        margin-right: 30px;
        @media screen and (max-width: 575px) {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
}