/*
  1920 - xs
  1600 - xll
  1366 - xl
  1200 - md
  991 - sm
  767 - smm
  575 - xss

*/

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  // // padding-right: 40px;
  // // padding-left: 40px;
  // @media (max-width: 1366px) {
  //   padding-right: 20px;
  //   padding-left: 20px;
  // }
  // @media screen and (max-width: 575px) {
  //   padding-right: 10px;
  //   padding-left: 10px;
  // } 
}

.row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  // margin-right: -1rem;
  // margin-left: -1rem;
  margin-right: -20px;
  margin-left: -20px;
  width: 100%;
  @media (max-width: 1366px) {
    margin-right: -10px;
    margin-left: -10px;
  } 
  // @media screen and (max-width: 575px) {
  //   margin-right: -5px;
  //   margin-left: -5px;
  // } 
}

.row.reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}


.col.reverse {
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-spesh-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  // padding-right: 1rem;
  // padding-left: 1rem;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  @media (max-width: 1366px) {
    padding-right: 10px;
    padding-left: 10px;
  } 
  // @media screen and (max-width: 575px) {
  //   padding-right: 5px;
  //   padding-left: 5px;
  // } 
}

.col-xs {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}

.col-xs-2 {
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.col-xs-5 {
  -ms-flex-preferred-size: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%;
}

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.col-xs-8 {
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%;
}

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}

.col-xs-11 {
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.col-spesh-1{
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  max-width: 20%;
  justify-content: center;
  @media (max-width: 1738px) {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  @media (max-width: 1200px) {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  @media (max-width: 767px) {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  @media screen and (max-width: 575px) {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
   
  }
}

.col-xs-offset-1 {
  margin-left: 8.333%;
}

.col-xs-offset-2 {
  margin-left: 16.667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.333%;
}

.col-xs-offset-5 {
  margin-left: 41.667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.333%;
}

.col-xs-offset-8 {
  margin-left: 66.667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.333%;
}

.col-xs-offset-11 {
  margin-left: 91.667%;
}

.row-xs{
  display: flex;
  flex-direction: row;
}

.rowCenter-xs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.column-xs{
  display: flex;
  flex-direction: column;
}

.start-xs {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.center-xs {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.end-xs {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.top-xs {
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.middle-xs {
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.bottom-xs {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between-xs {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.first-xs {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.last-xs {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

/* ------------------------------------------
                    1200 - MD
------------------------------------------ */

.bottom-md {
  @media (max-width: 1200px) {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }  
}

.middle-md {
  @media (max-width: 1200px) {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }  
}

.end-md {
  @media (max-width: 1200px) {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
  }  
}

.column-md{
  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
  }  
}

.col-md-12{
  @media (max-width: 1200px) {
    flex-basis: 100%;
    max-width: 100%;
  }
}

/* ------------------------------------------
                    991 - SM
------------------------------------------ */
.column-sm{
  @media (max-width: 991px) {
    display: flex;
    flex-direction: column;
  }  
}
.col-sm-4{
  @media (max-width: 991px) {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
}

.col-sm-5{
  @media (max-width: 991px) {
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
}

.col-sm-6{
  @media (max-width: 991px) {
    flex-basis: 50%;
    max-width: 50%;
  }
  @media screen and (max-width: 575px) {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.col-sm-7{
  @media (max-width: 991px) {
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
}

.col-sm-8{
  @media (max-width: 991px) {
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
}

.col-sm-9{
  @media (max-width: 991px) {
    flex-basis: 75%;
    max-width: 75%;
  }
}

.col-sm-10{
  @media (max-width: 991px) {
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
}

.col-sm-11{
  @media (max-width: 991px) {
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
}

.col-sm-12{
  @media (max-width: 991px) {
    flex-basis: 100%;
    max-width: 100%;
  }
}

/* ------------------------------------------
                    767 - SMM
------------------------------------------ */


.column-smm{
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  } 
}

.column-smm{
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }  
}
.col-smm-4{
  @media (max-width: 767px) {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
}

.col-smm-5{
  @media (max-width: 767px) {
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
}

.col-smm-6{
  @media (max-width: 767px) {
    flex-basis: 50%;
    max-width: 50%;
  }
  @media screen and (max-width: 575px) {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.col-smm-7{
  @media (max-width: 767px) {
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
}

.col-smm-8{
  @media (max-width: 767px) {
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
}

.col-smm-9{
  @media (max-width: 767px) {
    flex-basis: 75%;
    max-width: 75%;
  }
}

.col-smm-10{
  @media (max-width: 767px) {
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
}

.col-smm-11{
  @media (max-width: 767px) {
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
}

.col-smm-12{
  @media (max-width: 767px) {
    flex-basis: 100%;
    max-width: 100%;
  }
}

/* ------------------------------------------
                    575 - XSS
------------------------------------------ */

.column-xss{
  @media screen and (max-width: 575px) {
    display: flex;
    flex-direction: column;
  } 
}
.row-xss{
  @media screen and (max-width: 575px) {
    display: flex;
    flex-direction: row;
  }
}
.bottom-xss {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}
.between-xss {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.col-xss-12{
  @media (max-width: 767px) {
    flex-basis: 100%;
    max-width: 100%;
  }
}
