header{
    display: flex;
    margin-top: 50px;
}
.burger{
    display: none;
    @media (max-width: 991px) {
        display: flex;
    }
}
.menuMobile{
    display: none;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;

    @media (max-width: 991px){
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0px;
      z-index: 9999;
      background: #fff;
      width: 100%;
      height: 100vh;
      padding-top: 80px;
      left: 0;
    }
    li{
      @media (max-width: 991px){
        font-size: 14px;
        height: 50px;
        padding-left: 70px;
        display: flex;
        align-items: center;
      }
      @media screen and (max-width: 575px){
        font-size: 12px;
      }
      a{
        padding-left: 20px;
        color: #3E3E3E;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
      }
    }
  }
  .menuMobileOpen{
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1); 
  }
  .menuMobileClose{
      width: 30px;
      height: 30px;
      margin-left: 260px;
  }

.header__menu{
    display: flex;
    @media (max-width: 991px) {
        display: none;
    }
    ul{
        display: flex;
    }
    li{
        margin-right: 25px;
        @media (max-width: 1200px) {
            margin-right: 15px;
        }
    }
    a{
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.01em;
        color: #3E3E3E;
        position:relative;
        @media (max-width: 1200px) {
            font-size: 12px;
        }
    }
    a:after {
        background-color: #A6E349;
        content: "";
        height: 5px;
        width: 0%;
        left: 50%;
        top: 10px;
        position: absolute;
        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
        -webkit-transform:translateX(-50%);
        -moz-transform:translateX(-50%);
        transform:translateX(-50%);
        z-index: -1;
        @media (max-width: 1200px) {
            height: 3px;
        }
    }
    a:before {
        background: #F3132E;
        content: "";
        height: 5px;
        width: 5px;
        right: -5px;
        top: -5px;
        border-radius: 50%;
        position: absolute;
        display: none;
        z-index: -1;
    }
    a:hover:after,
    a:focus:after {
        width: 100%;
    }
    a:hover::before,
    a:focus:before {
       display: flex;
    }
}

a.header__link{
    text-decoration: underline;
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;
    color: #3E3E3E;
    display: flex;
    @media (max-width: 1200px) {
        font-size: 11px;
    }
    .mssage{
        margin-right: 10px;
    }
    .map{
        margin-right: 10px;
    }
    .open{
        margin-left: 10px;
    }
}
.header__linkRow{
    @media (max-width: 1200px) {
        width: 400px;
        min-width: 400px;
        margin-left: -150px;
    }
    @media (max-width: 991px) {
        width: auto;
        min-width: auto;;
        margin-left: 0px;
    }
}
.header__formRow{
    @media (max-width: 991px) {
        flex-direction: column;
    }
    @media screen and (max-width: 575px) {
        width: 100%;
    }
}
.header__link:last-child{
    margin-left: 45px;
    @media (max-width: 1200px) {
        margin-left: 10px;
    }
    @media screen and (max-width: 575px) {
        margin-top: 10px;
    }
}

.header__search{
    margin-top: 30px;
    display: flex;
    width: 100%;
    @media (max-width: 1200px) {
        margin-top: 10px;
    }
}

.header__logo{
    width: 236px;
    cursor: pointer;
    @media (max-width: 1738px) {
        width: 228px;
    }
    @media (max-width: 1366px) {
        width: 200px;
    }
    @media (max-width: 1200px) {
        width: 180px;
    }
    @media (max-width: 991px) {
        width: 200px;
        margin-bottom: 10px;
    }
    @media screen and (max-width: 575px) {
        width: 180px;
        margin-top: 20px;
    }
}

form.header__searchForm{
    display: flex;
    margin-left: 0;
    float: left;
}

form.header__searchForm input[type=text] {
    height: 44px;
    width: 612px;
    border: none;
    padding-left: 25px;
    background: inherit;
    box-sizing: border-box;
    border-top: 1.5px solid #F2F2F2;
    border-bottom: 1.5px solid #F2F2F2;
    font-family: 'Circe';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #8F8F8F;
    @media (max-width: 1738px) {
        width: 353px;
    }
    @media (max-width: 1366px) {
        width: 320px;
        padding-left: 20px;
        font-size: 14px;
    }
    @media (max-width: 991px) {
        width: 360px;
    }
    @media (max-width: 767px) {
        width: 310px;
    }
    @media screen and (max-width: 575px) {
        width: calc(100% - 81px);
        padding-left: 10px;
        font-size: 12px;
    }
}

form.header__searchForm button {
    float: left;
    width: 40px;
    height: 44px;
    background: #F2F2F2;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1738px) {
        width: 46px;
    }
    img{
        width: 19px;
    }
}
  
form.header__searchForm::after {
    content: "";
    clear: both;
    display: table;
}

form.header__searchForm .header__catalog{
    background: #7CAE30;
    border-radius: 4px 0px 0px 4px;
    width: 148px;
    height: 44px;
    display: flex;
    align-items: center;
    @media (max-width: 1366px) {
        width: 110px;
    }
    @media (max-width: 767px) {
        width: 40px;
        justify-content: center;
    }
    @media screen and (max-width: 575px) {
        width: 35px;
    }
    p{
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        @media (max-width: 1366px) {
            font-size: 14px;
        }
        @media (max-width: 767px) {
           display: none;
        }
    }
    img{
        margin-right: 18px;
        @media (max-width: 1366px) {
            margin-right: 12px;
        }
        @media (max-width: 767px) {
            margin-right: 0;
        }
        @media screen and (max-width: 575px) {
            width: 15px;
        }
    }
}

a.header__phone{
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16.5px;
    line-height: 19px;
    letter-spacing: 0.04em;
    color: #272B36;
    margin-left: 49px;
    display: flex;
    @media (max-width: 1738px) {
        margin-left: 19px;
    }
    @media (max-width: 1400px) {
        margin-left: 7px;
        font-size: 15px;
    }
    @media (max-width: 1366px) {
        font-size: 14px;
    }
    @media (max-width: 1205px) {
        font-size: 13px;
    }
    @media (max-width: 1200px) {
       display: none;
    }
    img{
        margin-left: 7px;
    }
}

.header__call{
    display: flex;
    border: 2px solid #333640;
    box-sizing: border-box;
    border-radius: 4px;
    width: 160px;
    height: 40px;
    margin-left: 15px;
    @media (max-width: 1200px) {
        width: 140px;
        margin-top: 5px;
    }
    @media screen and (max-width: 575px) {
        width: 100px;
        margin-top: 5px;
        margin-left: 0px;
        font-size: 12px;
    }
}

.header__basket{
    width: 139px;
    height: 40px;
    background: #7CAE30;
    border-radius: 3px 3px 3px 3px;
    display: flex;
    margin-left: 46px;
    position: relative;
    @media (max-width: 1738px) {
        margin-left: 19px;
    }
    @media (max-width: 1200px) {
        margin-top: 15px;
        height: 44px;
    }
}
.basket__icon{
    width: 40px;
    display: flex;
    cursor: pointer;
}
.basket__btn{
    width: 100px;
    height: 100%;
    background: #fff;
    position: relative;
    border: 1.5px solid rgba(201, 201, 201, 0.9);
    border-left: none;
    box-sizing: border-box;
    border-radius: 0px 4px 4px 0px;
}
.busket__count{
    font-family: 'Circe';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    background: #F3132E;
    border: 2.5px solid #FFFFFF;
    position: absolute;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    top: -12px;
    left: -12px;
    padding-top: 3px;
    box-sizing: border-box;
}
.header__phoneButton{
    @media screen and (max-width: 575px) {
        width: 100%;
    }
}

