*,
h1,
h2,
h3,
h4,
label,
p,
span, a, button, input {
  padding: 0;
  margin: 0;
  font-family: 'Circe';
  font-style: normal;
  font-weight: normal;
}

h1, h2, h3, h4, label, p, span, a, button, img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  position: relative;
}
input {
  outline:none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
a, a:hover, a:focus, a:active, button, button:focus, button:active { outline: none !important}
button:focus{
  outline:0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

button:active{
  outline:0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
  // @media (min-width: 576px) {
  //   max-width: calc(500px + 20px);
  // }
  @media (min-width: 768px) {
    max-width: calc(700px + 20px);
  }
  @media (min-width: 992px) {
    max-width: calc(850px + 20px);
  }
  @media (min-width: 1201px) {
    max-width: calc(1146px + 20px);
  }
  @media (min-width: 1367px) {
    max-width: calc( 1278px + 40px);
  }
  @media (min-width: 1738px) {
    max-width: calc( 1641px);
  }
  @media screen and (max-width: 767px) {
    width: calc( 100% - 10px);
    padding-left: 5px;
    padding-right: 5px;
  }
}

ul{
  list-style-type: none;
}

h2{
  margin-top: 70px;
  margin-bottom: 35px;
  font-family: 'Circe';
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  z-index: 5;
  @media (max-width: 1366px) {
    font-size: 17px;
    margin-top: 60px;
    margin-bottom: 25px;
  }
  @media (max-width: 991px) {
    font-size: 15px;
    margin-top: 50px;
  }
  @media (max-width: 767px) {
    font-size: 13px;
    margin-top: 30px;
  }
}
.sliderProduct__discont{
  position: absolute;
  left: 0;
  top: 0;
  width: 56px;
  height: 30px;
  @media screen and (max-width: 575px) {
    width: 45px;
    height: 25px;
  }
  .sliderProduct__discontAfter, .sliderProduct__discontBefore{
      width: inherit;
      height: inherit;
      position: relative;
      border-radius: 4px;
  }
  .sliderProduct__discontAfter{
      position: relative;
      z-index: 3;
      background: #F3133C;
      font-family: 'Circe';
      font-style: normal;
      font-weight: 800;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.01em;
      color: #FFFFFF;
      @media screen and (max-width: 575px) {
        font-size: 12px;
      }
  }
  .sliderProduct__newAfter{
      background: #5C42FF;
  }
  .sliderProduct__colorBlue{
      background: #12ADF0;
  }
  .sliderProduct__colorGreen{
    background: #7CAE30;
  }
  .sliderProduct__discontBefore{
      z-index: 1;
      background: #eee;
      position: absolute;
      top: 7px;
      left: 7px;
  }
}
.line__grey{
  height: 1px;
  width: 100%;
  background: #EBEBEB;
}
.line__dark{
  background: #4E4E4E;
  height: 2.5px;
  width: 100%;
}
.line__horizontal{
  height: 100%;
  width: 1px;
  background: #EBEBEB;
  right: 0;
}
