.main{
    margin-top: 30px;
}
  
.stock{
    border: 6px solid #88BE37;
    box-sizing: border-box;
    width: 100%;
    height: 486px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 37px;
    position: relative;
    @media (max-width: 1738px) {
      height: 376px;
      padding-left: 27px;
      padding-right: 23px;
      padding-top: 28px;
    }
    @media (max-width: 1366px) {
        padding-left: 20px;
        padding-right: 18px;
        padding-top: 28px;
    }
    @media (max-width: 1200px) {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        height: 320px;
    }
    @media (max-width: 991px) {
        margin-top: 30px; 
    }
    &__title{
      display: flex;
      width: 100%;
      h3{
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #8F8F8F;
        @media (max-width: 1738px) {
          font-size: 13px;
          line-height: 19px;
        }
        @media (max-width: 1200px) {
            font-size: 11px;
        }
      }
      .stock__discount{
        position: relative;
        z-index: 8;
        width: 53px;
        height: 28px;
        @media (max-width: 1200px) {
            width: 45px;
            height: 20px;
        }
      }
      .stock__discountBefore{
        background: #F3133C;
        border-radius: 4px;
        width: inherit;
        height: inherit;
        display: flex;
        position: absolute;
        font-family: 'Circe';
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        z-index: 3;
      }
      .stock__discountHover{
        position: absolute;
        width: 53px;
        height: 28px;
        background: #EEEEEE;
        border-radius: 4px;
        z-index: 2;
        top: 5px;
        left: 5px;
        @media (max-width: 1200px) {
            width: 45px;
            height: 20px;
        }
      }
    }
    &__describtion{
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 17px;
        color: #3E3E3E;
        margin-top: 6px;
        width: 75%;
        @media (max-width: 1366px) {
            width: 80%;
        }
        @media (max-width: 1200px) {
            font-size: 13px;
            line-height: 15px;
            width: 100%;
        }
    }
    &__img{
      width: 100%;
      display: flex;
      margin-top: 10px;
      img{
        width: 214px;
        @media (max-width: 1738px) {
          width: 136px;
        }
        @media (max-width: 1200px) {
            width: 90px;
        }
      }
    }
}
  
.price{
    display: flex;
    margin-top: 30px;
}
  
.price__new{
    font-family: 'Circe';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.01em;
    color: #F3133C;
    @media (max-width: 1738px) {
      font-size: 18px;
      line-height: 27px;
    }
    @media (max-width: 1200px) {
        font-size: 14px;
    }
}
  
.price__old{
    font-family: 'Circe';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.01em;
    color: #3B3B3B;
    margin-left: 15px;
    position: relative;
    @media (max-width: 1738px) {
      font-size: 15px;
      line-height: 22px;
    }
    @media (max-width: 1200px) {
        font-size: 13px;
    }
  }
  
.price__old:after{
    background: #F3132E;
    width: 110%;
    height: 2px;
    content: "";
    position: absolute;
    top: 11px;
    left: -5%;
}
  
.price__star{
    display: flex;
    img{
        width: 12px;
        margin-right: 5px;
        @media (max-width: 1200px) {
            width: 10px;
            margin-right: 3px;
        }
    }
}
  
.stoke__available{
    font-size: 13px;
    line-height: 19px;
    color: #9B9B9B;
    margin-top: 20px;
    @media (max-width: 1200px) {
        margin-top: 25px;
    }
}
  
.stock__link{
    width: 48px;
    height: 48px;
    background: #7CAE30;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 40px;
    right: 40px;
    @media (max-width: 1738px) {
      bottom: 27px;
      right: 23px;
    }
    @media (max-width: 1200px) {
        width: 35px;
        height: 35px;
        bottom: 40px;
        right: 15px;
    }
}
  
.line{
    height: 2px;
    background: #EBEBEB;
    width: 100%;
    margin-top: 22px;
}

.popularly{
    margin-top: 67px;
    h3{
        font-weight: 800;
        font-size: 19px;
        line-height: 28px;
        display: flex;
        align-items: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #333640;
        margin-bottom: 50px;
        @media (max-width: 767px) {
            font-size: 16px;
        }
    }
}

.openLink{
    display: flex;
    margin-top: 65px;
    width: 100%;
    @media (max-width: 767px) {
        margin-top: 45px;
    }
    .plus{
        border: 1.5px solid #F2F2F2;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .text{
        font-family: 'Circe';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #33363C;
        margin-left: 15px;
    }
}

.bestPrice{
    padding-bottom: 77px;
    h2{
        color: #F3132E;
    }
}

.newItems{
    padding-bottom: 80px;
    h2{
        color: #5C42FF;
    }
}

.greenColor{
    color: #7CAE30 !important;
}

.blackColor{
    color: #332C2C !important;
}

.categories{
    margin-top: 60px;
}

.categories__list{
    margin-top: 40px;
}

.categories__item{
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: space-between;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 40px;
    margin-bottom: 40px;
    @media (max-width: 1738px) {
        padding-left: 30px;
        padding-right: 28px;
        padding-top: 30px;
        height: 280px;
    }
    @media (max-width: 1366px) {
        height: 260px;
    }
    @media (max-width: 1200px) {
        height: 190px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    @media (max-width: 991px) {
        height: 150px;
        padding-left: 15px;
        padding-right: 10px;
        padding-top: 10px;
        margin-bottom: 10px;
    }
    h4{
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        width: 70%;
        @media (max-width: 1738px) {
            font-size: 22px;
        }
        @media (max-width: 1200px) {
            font-size: 18px;
            line-height: 24px;
        }
        @media (max-width: 991px) {
            font-size: 15px;
            line-height: 18px;
        }
    }

    .black{
        color: #151619;
    }

    a{
        background: url('../img/openIcon.svg') no-repeat center;
        background-size: cover;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        @media (max-width: 1200px) {
            width: 30px;
            height: 30px;
        }
        @media (max-width: 991px) {
            width: 25px;
            height: 25px;
        }
    }
}

.company{
    margin-bottom: 80px;
    h2{
        font-weight: 800;
        color: #333640;
        margin-bottom: 60px;
    }
}

.statistic{
    margin-bottom: 80px;
    position: relative;
}

.statistic__text{
    background: #F3F8F2;
    padding-top: 88px;
    padding-bottom: 99px;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 879px;
    margin-top: 77px;
    z-index: 4;
    @media (max-width: 1738px) {
        padding-left: 81px;
        padding-right: 73px;
        padding-top: 80px;
        padding-bottom: 80px;
        max-width: 686px;
    }
    @media (max-width: 1366px) {
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 70px;
        padding-bottom: 70px;
        max-width: 570px;
    }
    @media (max-width: 1200px) {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
        max-width: 500px;
    }
    @media (max-width: 991px) {
        max-width: 55%;
    }
    @media (max-width: 767px) {
        max-width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 20px;
        padding-right: 20px;
    }
    @media screen and (max-width: 575px) {
        padding-top: 20px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    p{
        font-size: 16px;
        line-height: 24px;
        color: #4E4E4E;
        margin-bottom: 50px;
        @media (max-width: 1366px) {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 35px;
        }
        @media (max-width: 1366px) {
            font-size: 12px;
            margin-bottom: 35px;
        }
        @media screen and (max-width: 575px) {
            margin-bottom: 25px;
        }
    }

    a {
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #7CAE30;
        @media (max-width: 1366px) {
            font-size: 13px;
        }
        img{
            margin-left: 25px;
            @media (max-width: 1366px) {
                margin-left: 20px;
            }
        }
    }
}

.statistic__num{
    z-index: 2;
    position: absolute;
    right: 0;
    top: 150px;
    border: 1.5px solid #C9C9C9;
    box-sizing: border-box;
    padding-bottom: 50px;
    padding-top: 37px;
    width: 1080px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    @media (max-width: 1738px) {
        max-width: 840px;
        padding-bottom: 61px;
        padding-top: 54px;
    }
    @media (max-width: 1366px) {
        max-width: 700px;
        padding-bottom: 50px;
        padding-top: 45px;
    }
    @media (max-width: 991px) {
        max-width: 80%;
        width: 80%;
        padding-bottom: 30px;
    }
    @media (max-width: 767px) {
        position: relative;
        top: auto;
        margin-top: 20px;
        max-width: 100%;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.statistic__numText{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 220px;
    @media (max-width: 1738px) {
        margin-right: 150px;
    }
    @media (max-width: 1200px) {
        margin-right: 40px;
    }
    @media (max-width: 991px) {
        margin-right: 10px;
    }
    @media screen and (max-width: 575px) {
        margin-right: 20px;
    }
}

.statistic__big{
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 0.11em;
    color: #3D4150;
    @media (max-width: 1366px) {
        font-size: 50px;
    }
    @media (max-width: 1200px) {
        font-size: 40px;
    }
    @media (max-width: 991px) {
        font-size: 30px;
    }
}

.statistic__small{
    font-family: 'Circe';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.235em;
    text-transform: uppercase;
    color: #3A3C47;
    margin-bottom: 45px;
    @media (max-width: 1366px) {
        font-size: 12px;
        margin-bottom: 35px;
    }
    @media (max-width: 1200px) {
        font-size: 11px;
    }
    @media (max-width: 991px) {
        margin-bottom: 15px;
    }
}

.statistic__small:last-child{
    margin-bottom: 0px;
}
.statistic__wrapper{
    width: 100%;
    @media (max-width: 767px) {
        margin-bottom: 20px;
    }
}
.statistic__wrapper-cont{
    width: 100%;
    height: 220px;
    background: #F2F2F2;
    @media (max-width: 1738px) {
       height: 168px;
    }
    @media (max-width: 767px) {
        height: 120px;
    }
}
.statistic__wrapper-cont1{
    width: 100%;
    background: url('../img/statistic_1.png') no-repeat center;
    background-size: cover;
}
.statistic__wrapper-cont2{
    background: url('../img/statistic_2.png') no-repeat center;
    background-size: cover;
}
.statistic__wrapper-cont3{
    background: url('../img/statistic_3.png') no-repeat center;
    background-size: cover;
}
.statistic__wrapper-cont4{
    background: url('../img/statistic_4.png') no-repeat center;
    background-size: cover;
}

.statistic__wrapper-text{
    font-size: 15px;
    line-height: 22px;
    color: #4E4E4E;
    margin-top: 25px;
    @media (max-width: 1366px) {
        font-size: 13px;
        line-height: 18px;
    }
}

.statistic__line{
    margin-top: 150px;
    margin-bottom: 71px;
    @media (max-width: 767px) {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.categories__item1{
    background: url('../img/categories_1.png') no-repeat center;
    background-size: cover;
}
.categories__item2{
    background: url('../img/categories_2.png') no-repeat center;
    background-size: cover;
}
.categories__item3{
    background: url('../img/categories_3.png') no-repeat center;
    background-size: cover;
}
.categories__item4{
    background: url('../img/categories_4.png') no-repeat center;
    background-size: cover;
}
.categories__item5{
    background: url('../img/categories_5.png') no-repeat center;
    background-size: cover;
}
.categories__item6{
    background: url('../img/categories_6.png') no-repeat center;
    background-size: cover;
}
.categories__item7{
    background: url('../img/categories_7.png') no-repeat center;
    background-size: cover;
}
.categories__item8{
    background: url('../img/categories_8.png') no-repeat center;
    background-size: cover;
}
.categories__item9{
    background: url('../img/categories_9.png') no-repeat center;
    background-size: cover;
}
.categories__item10{
    background: url('../img/categories_10.png') no-repeat center;
    background-size: cover;
}
.categories__item11{
    background: url('../img/categories_11.png') no-repeat center;
    background-size: cover;
}
.categories__item12{
    background: url('../img/categories_12.png') no-repeat center;
    background-size: cover;
}
.categories__item13{
    background: url('../img/categories_13.png') no-repeat center;
    background-size: cover;
}
.categories__item14{
    background: url('../img/categories_14.png') no-repeat center;
    background-size: cover;
}
.categories__item15{
    background: url('../img/categories_15.png') no-repeat center;
    background-size: cover;
}
.categories__item16{
    background: url('../img/categories_16.png') no-repeat center;
    background-size: cover;
}
