body, html{
    //overflow-y: hidden;
}
.overlay_demands{
    display: none;
    position: fixed;
    //top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(87, 97, 113, 0.21);
}
.demands{
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(122, 134, 152, 0.2);
    width: 80%;
   // height: 90vh;
    //margin-top: 5vh;
    z-index: 9999;
    position: absolute;
    top: 50px;
}
.demands__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px 15px 35px;
    height: 42px;
    p{
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: #3E3E3E;
    }
}
.demands__headerLink{
    display: flex;
    a{
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 17px;
        color: #8F8F8F;
        display: flex;
        align-items: center;
        img{
            margin-right: 12px;
        }
    }
    .demands_close{
        margin-left: 40px;
        cursor: pointer;
    }
}
.demands__content{
    height: 100%;
}
.demands__link{
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-left: 22px;
    height: 100%;
    //overflow-y: scroll;
    a{
        font-size: 15px;
        color: #538607;
        padding: 4px 14px 4px 14px;
        margin-bottom: 6px;
    }
    .demands__linkActive{
        background: #F2F7EA;
        border-radius: 4px;
    }
}
.demands__text{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 600px;
    overflow-y: scroll;
    //height: 100%;
    padding-left: 25px;
    margin-right: -40px;
    padding-right: 100px;
    h3{
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        letter-spacing: 0.01em;
        color: #3E3E3E;
        margin-top: 45px;
        margin-bottom: 20px;  
    }
    h3:first-child{
        margin-top: 30px;
    }
    p{
        font-size: 18px;
        line-height: 27px;
        color: #4E4E4E;
        margin-bottom: 17px;
    }
    ol{
        
        list-style-type: none;
        counter-reset: li;
    }
    li{
        margin-left: 50px;
          margin-top: 23px;
          margin-bottom: 23px;
          display: flex;
          align-items: center;
        p{
              display: flex;
              flex-direction: column;
              margin: 0;
        }
        a{
            font-size: 17px;
            text-decoration-line: underline;
            color: #538607;
        }
    }
    ol li:before {
        width: 27px;
        height: 27px;
        content: counter(li);
        counter-increment: li 1;
        padding: 0px 6px;
        margin-left: -50px;
        font-size: 12px;
        text-align: center;
        color: white;
        position: absolute;
        border-radius: 50%;
        background: #F2F7EA;
        border: 1.5px solid #7CAE30;
        box-sizing: border-box;
        font-size: 18px;
        text-align: center;
        color: #7CAE30;
        display: flex;
        justify-content: center;
    }  
}
.demands__text .demand__title{
    font-size: 16px;
    color: #9B9B9B;
}
.demands__text .demand__describtion{
    font-size: 16px;
    color: #4E4E4E;
    margin-bottom: 50px;
}