/* --------------------------------------------
        ОБЩИЕ СТИЛИ ДЛЯ ВСЕХ СЛАЙДЕРОВ
----------------------------------------------- */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-slide:active{
    outline: none;
}
.slick-slide:focus {
    outline: none;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-track{
    height: 100%;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
    width: 100vw;
    justify-content: space-between;
}

.slick-arrow.slick-hidden {
    display: none;
}
.slick-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
    border: none;
}

.slick-dots {
    position: absolute;
    bottom: 0px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        cursor: pointer;
        button {
            background: transparent;
            color: transparent;
            cursor: pointer;
            border: 1.5px solid #F2F2F2;
            box-sizing: border-box;
            border-radius: 50%;
            width: 8px;
            height: 8px;
            flex: 0 1 auto;
            margin-right: 4px;
            margin-left: 4px;
        }
    }
}

.slick-dots li.slick-active button{
    background: #F2F2F2;
}

/* --------------------------------------------
    СЛАЙДЕР НА 1 ЭКРАНЕ ГЛАВНАЯ СТРАНИЦА
----------------------------------------------- */

.sliderMain {
    position: relative;
    //overflow: hidden;
    width: 100%;
    display: flex;
    height: 486px;
    @media (max-width: 1738px) {
      height: 376px;
    }
    @media (max-width: 1200px) {
        height: 320px;
    }
    @media (max-width: 767px) {
        height: 250px;
    }
    @media screen and (max-width: 575px) {
        width: calc(100% + 20px);
    }
}
.slideMain_wrapper{
    display: flex;
    width: calc(100% + 40px);
    display: flex;
    transition: transform 0.6s ease;
    flex-wrap: nowrap;
    @media screen and (max-width: 575px) {
        width: calc(100% + 20px);
    }
}
.sliderAll {
    position: relative;
    width: 100%;
    display: flex;
    height: 289px;
}
  
.slider__item{
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    @media screen and (max-width: 575px) {
        margin-right: 5px;
    }
}
  
.slider__item1{
    background: url('../img/slider__1.png') no-repeat left;
    background-size: cover;
    width: 100%;
}
  
.sliderMain__content{
    padding-left: 105px;
    padding-top: 138px;
    color: #fff;
    @media (max-width: 1738px) {
      padding-top: 96px;
    }
    @media (max-width: 1200px) {
        padding-left: 80px;
        padding-top: 60px;
    }
    @media (max-width: 767px) {
        padding-left: 60px;
        padding-top: 30px;
    }
    @media screen and (max-width: 575px) {
        padding-left: 40px;
    }
    h3{
        font-family: 'Circe';
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 32px;  
        letter-spacing: 0.01em;
        @media (max-width: 1200px) {
            font-size: 24px;
            line-height: 28px;  
        }
        @media (max-width: 767px) {
            font-size: 20px;
            line-height: 23px;  
        }
        @media screen and (max-width: 575px) {
            font-size: 16px;
            line-height: 20px;  
            padding-right: 40px;
        }
    }
    p{
        margin-top: 30px;
        margin-bottom: 50px;
        font-family: 'Circe';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #E7EAFF;
        @media (max-width: 1738px) {
            margin-top: 18px;
            margin-bottom: 38px;
        }
        @media (max-width: 1200px) {
            font-size: 14px;
            margin-bottom: 30px;
        }
        @media screen and (max-width: 575px) {
            font-size: 12px;
            line-height: 20px;  
            padding-right: 40px;
        }
    }
    a{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 30px;
        padding-left: 30px;
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 17px;
        color: #4E4E4E;
        background: #FFFFFF;
        border-radius: 4px;
        @media (max-width: 1200px) {
            font-size: 13px;
            padding-right: 20px;
            padding-left: 20px;
        }
        @media screen and (max-width: 575px) {
            font-size: 11px;
        }
    }
}

.sliderMain__prev{
    width: 30px;
    height: 30px;
    left: 30px;
    background: url('../img/slider__left.svg') no-repeat center;
    background-size: cover;
    @media (max-width: 1200px) {
        width: 25px;
        height: 25px;
        left: 20px;
    }
    @media screen and (max-width: 575px) {
        width: 20px;
        height: 20px;
        left: 15px;
    }
}
  
.sliderMain__next {
    width: 30px;
    height: 30px;
    right: 60px;
    background: url('../img/slider__right.svg') no-repeat center;
    background-size: cover;
    @media (max-width: 1200px) {
        width: 25px;
        height: 25px;
    }
    @media screen and (max-width: 575px) {
        width: 20px;
        height: 20px;
        right: 30px;
    }
}

/* --------------------------------------------
    СЛАЙДЕР ПОПУЛЯРНО СЕЙЧАС (ГЛАВНАЯ СТРАНИЦА)
----------------------------------------------- */

.slide_wrapper{
    display: flex;
    width: 100%;
    display: flex;
    transition: transform 0.6s ease;
    flex-wrap: nowrap;
}
.sliderAll {
    position: relative;
    width: 100%;
    display: flex;
    height: 289px;
}


.sliderAll__item{
    margin-left: 20px;
    margin-right: 20px;
}

.sliderAll__next {
    position: absolute;
    top: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #F2F2F2;
    border: 5px solid #FFFFFF;
    right: 0px;
    z-index: 999;
    @media (max-width: 1738px) {
        top: 130px;
    }
    @media (max-width: 1200px) {
        height: 50px;
        width: 50px;
        top: 100px;
    }
}

.sliderAll__next::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.sliderAll__next::before {
    background-image: url("../img/arrBlack.svg");
}

.slederPresent{
    width: 100%;
    height: 100%;
    h4{
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #333640;
        margin-top: 20px;
        min-height: 34px;
        @media (max-width: 1366px) {
            font-size: 14px;
        }
        @media (max-width: 1200px) {
            line-height: 17px;
        }
    }
}

.slederPresent__image{
    height: 180px;
    width: 100%;
    background: #F2F2F2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1738px) {
        height: 135px;
    }
    @media (max-width: 1200px) {
        height: 100px;
    }
    img{
        position: relative;
        height: 100%;
    }

}

.slederPresent__lineDark{
    width: 100%;
    height: 3px;
    background: #4E4E4E;
    margin-top: 14px;
    @media (max-width: 1200px) {
        margin-top: 10px;
    }
}

.slederPresent__line{
    height: 2px;
    width: 100%;
    background: #C9C9C9;
}

.slederPresent__price{
    display: flex;
    margin-top: 7px;
    margin-bottom: 8px;
    p{
        font-family: 'Circe';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 22px;
        color: #8F8F8F;
        @media (max-width: 1366px) {
            font-size: 13px;
        }
    }
}

.slederPresent__link{
    background: #7CAE30;
    border-radius: 36px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    @media (max-width: 1366px) {
        width: 30px;
        height: 30px;
    }
    @media (max-width: 1366px) {
        width: 25px;
        height: 25px;
    }
}

/* --------------------------------------------
    СЛАЙДЕР ЛУЧШАЯ ЦЕНА (ГЛАВНАЯ СТРАНИЦА)
----------------------------------------------- */


.sliderProduct__item{
    margin-left: 20px;
    margin-right: 20px;
}

.sliderProduct__image{
    height: 243px;
    width: 100%;
    position: relative;
    @media (max-width: 1366px) {
        height: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    img{
        width: 100%;
        position: relative;
        @media (max-width: 1366px) {
            width: 80%;
        }
        @media (max-width: 767px) {
            width: 60%;
        }
    }
}

.sliderProduct{
    h4{
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #3E3E3E;
        margin-top: 10px;
        //min-height: 34px;
        @media (max-width: 1366px) {
            font-size: 14px;
        }
        @media (max-width: 1200px) {
            font-size: 13px;
        }
    }
}

.sliderProduct__price{
    display: flex;
    margin-top: 10px;
}

.slederPresent__priceNew{
    font-family: 'Circe';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #F3133C;
    @media (max-width: 1366px) {
        font-size: 16px;
    }
    @media (max-width: 1200px) {
        font-size: 14px;
    }
}

.slederPresent__priceBlack{
    font-family: 'Circe';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #333640;  
    @media (max-width: 1366px) {
        font-size: 16px;
    }
    @media (max-width: 1200px) {
        font-size: 14px;
    }
}

.slederPresent__priceOld{
    font-family: 'Circe';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #3B3B3B;
    position: relative;
    margin-left: 16px;
    @media (max-width: 1366px) {
        font-size: 16px;
    }
    @media (max-width: 1200px) {
        font-size: 14px;
    }
}

.slederPresent__priceOld:after{
    background: #F3132E;
    width: 110%;
    height: 2px;
    content: "";
    position: absolute;
    top: 11px;
    left: -5%;
}

.slederPresent__color{
    min-height: 90px;
    padding-top: 20px;
    @media (max-width: 1366px) {
        min-height: 70px;
    }
}

.color__sircle{
    display: flex;
    align-items: center;
}

.color__sircleItem{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    @media (max-width: 1738px) {
        width: 18px;
        height: 18px;
    }
    @media (max-width: 1366px) {
        width: 14px;
        height: 14px;
        margin-right: 7px;
    }
}

.color__sircleItemActive{
    width: 26px;
    height: 26px;
    @media (max-width: 1366px) {
        width: 20px;
        height: 20px;
    }
}

.color__sircleItem:last-child{
    margin-right: 0px;
}

.black{
    background: #333640;
}
.grey{
    background: #C9C9C9;
}
.red{
    background: #F3132E;
}
.brown{
    background: #673011;
}
.green{
    background: #0C610F;
}
.gold{
    background: #E2C49F;
}
.blue{
    background: #13C1F9;
}
.greenLight{
    background: #7CAE30;
}
.yellow{
    background: #FFDA16;
}
.colorOpen{
    height: 32px;
    width: 32px;
    background: url('../img/colorIcon.svg') no-repeat center;
    background-size: cover;
    margin-left: 14px;
    @media (max-width: 1366px) {
        width: 28px;
        height: 28px;
    }
}
.slederPresent__view{
    display: flex;
    margin-top: 11px;
}
.slederPresent__viewLink{
    background: rgba(124, 174, 48, 0.1);
    border-radius: 4px;
    width: 180px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: #538607;
    @media (max-width: 1738px) {
        width: 160px;
    }
    @media (max-width: 1366px) {
        font-size: 13px;
        width: 150px;
    }
    @media (max-width: 1200px) {
        font-size: 12px;
        width: 150px;
    }
}
.slederPresent__viewBasket{
    background: #7CAE30;
    border-radius: 36px;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: 15px;
    @media (max-width: 1366px) {
        width: 35px;
        height: 35px;
        margin-left: 10px;
    }
    @media (max-width: 1200px) {
        width: 32px;
        height: 32px;
    }
    img{
        width: 50%;
        @media (max-width: 1366px) {
            width: 50%;
        }
    }
}
.slederPresent__available{
    font-family: 'Circe';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #9B9B9B;
    @media (max-width: 1366px) {
        font-size: 13px;
    }
}

/* --------------------------------------------
    СЛАЙДЕР КОМПАНИИ (ГЛАВНАЯ СТРАНИЦА)
----------------------------------------------- */

.sliderCompany{
    height: 72px;
    display: flex;
    align-items: center;
}

.sliderCompany__item{
    height: 72px;
    display: flex !important;
    align-items: center;
    position: relative;

}

.sliderCompany__control{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    top: -50px;
    right: 0;
    z-index: 999;
    @media (max-width: 767px) {
        top: -70px;
    }
}

.sliderCompany__prev{
    right: 170px;
    background: url('../img/prev.svg') no-repeat center;
    background-size: cover;
    @media (max-width: 1738px) {
        right: 190px;
    }
    @media (max-width: 1440px) {
        right: 110px;
    }
    @media (max-width: 767px) {
        right: 60px;
    }
}

.sliderCompany__next{
    right: 120px;
    background: url('../img/next.svg') no-repeat center;
    background-size: cover;
    @media (max-width: 1738px) {
        right: 140px;
    }
    @media (max-width: 1440px) {
        right: 60px;
    }
    @media (max-width: 767px) {
        right: 20px;
    }
} 



  

